*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


.intro{
    color: white;
    min-height: 800px;
    padding-top: 20px;
    margin-bottom: 80px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-color: #255EE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.logo{
    
}

.top-menu{
    color: white;
    text-decoration: none;
}

.actions{
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
}

.jumbotron{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

#but-section{
    display: flex;
    justify-content: center;
}

.blue-but, #but-section > .white-but, .black-but{
    font-size: 20px;
    margin: 10px
}

.white-but{
    background-color: white;
    color: black;
}

.black-but{
    background-color: black;
    color: white;
}

.blue-but{
    background-color: #8EA1E1;
    color: white;
}

.bg-white{
    padding: 50px;
    text-align: center;
}

.bg-grey{
    background: #F6F6F6;
    padding: 50px;
    text-align: center;
}

.section-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 50px;

}

.large-col{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
}

.small-col{
    flex-basis: 40%;
    padding: 30px 50px;
    text-align: left;
}

.example-image{
    width: 100%;
}

#bottom-sec-cont{
    text-align: center;
    padding: 80px;
}

#stars{
    margin-bottom: 80px;
}

footer{
    background-color: #23272A;
    color: white;
    height: 100%;
}

#footer-top{
    display: flex;
    padding: 50px 0;
    height: 100%;
    border-bottom: 2px solid #7289DA;
}

.small-col{
    min-width: 30%;
}

.large-col{
    min-width: 70%;
    padding-left: 50px;
}

.small-col, .large-col{
    padding: 10px;
}

#social-title{
    color: #7289DA;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

#language{
    margin-bottom: 20px;
}

#italy{
    width: 18px;
}

.btm-left-menu span{
    font-size: 14px;
}

.btm-left-menu ul{
    list-style-type: none;
    display: flex;
}

.btm-left-menu ul li{
    margin-right: 30px;
}

.btm-left-menu ul li a{
    font-size: 25px;
    color: white;
}

#intro-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

#intro-list > li{
    margin-right: 20px;
}

.btm-right-menu{
    width: 100%;
    display: flex;
}


#intro-list >li >a{
    text-decoration: none;
    color: #7289DA;
    font-weight: bold;
    font-size: 20px;
}

.useful-links{
    list-style-type: none;
    line-height: 30px;
}

.useful-links a{
    text-decoration: none;
    color: white;
}

#footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 100px;
}

#footer-bottom a{
    font-size: 14px;
    margin: 0;
}