*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


.intro{
    color: white;
    min-height: 800px;
    padding-top: 20px;
    margin-bottom: 80px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-color: #255EE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.logo{
    
}

.top-menu{
    color: white;
    text-decoration: none;
}

.actions{
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
}

.jumbotron{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

#but-section{
    display: flex;
    justify-content: center;
}

.blue-but, #but-section > .white-but, .black-but{
    font-size: 20px;
    margin: 10px
}

.white-but{
    background-color: white;
    color: black;
}

.black-but{
    background-color: black;
    color: white;
}

.blue-but{
    background-color: #8EA1E1;
    color: white;
}

.bg-white{
    padding: 50px;
    text-align: center;
}

.bg-grey{
    background: #F6F6F6;
    padding: 50px;
    text-align: center;
}

.section-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 50px;

}

.large-col{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
}

.small-col{
    flex-basis: 40%;
    padding: 30px 50px;
}

.example-image{
    width: 100%;
}

#bottom-sec-cont{
    text-align: center;
    padding: 80px;
}

#stars{
    margin-bottom: 80px;
}
/* .h2-title{
    width: 300px;
    height: 50px;
    margin: auto;
    background-color: black;
    margin-bottom: 50px;
}

.download{
    background-color: lightblue;
    width: 150px;
    height: 50px;
    margin: auto;
}

footer{
    background-color: black;
    min-height: 650px;
}

.info{
    padding-top: 100px;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.chat{
    width: 25%;
    height: 400px;
    background-color: white;
}

.links{
    width: 15%;
    height: 400px;
    background-color: white;
}

.bottom{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto; */
}